<ion-view title="Create Default Page" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-radio>Name</ion-radio>
            <ion-radio>Time</ion-radio>
            <ion-radio>Host</ion-radio>
            <ion-radio>Info</ion-radio>
            <label class="item item-input">
                <span class="input-label"></span><textarea placeholder="Tell us more info about your session..."> </textarea>
            </label>
            <label class="item item-select">
                <span class="input-label">Add People</span>
                <select>
                    <option>Fiona</option>
                    <option>Phil</option>
                    <option>Yiran</option>
                    <option>JsAcademy</option>
                </select>
            </label>
        </form>
        <button id="createDefaultPage-button2" class="button button-positive  button-block">Create</button>
        <button id="createDefaultPage-button1" style="font-weight:600;" class="button button-positive  button-block">Cancel</button>
    </ion-content>
</ion-view>