<ion-view title="Forget" id="page6">
    <ion-content padding="true" class="has-header">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="logininfo.email" placeholder="email">
                </label>

            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ng-click="sendNewPassword()" id="login-button4" class="button button-balanced  button-block">Reset Password</a>
            <a href="#/page5">Or create an account</a>
            <a href="#/page6">Login</a>
    </ion-content>
</ion-view>