<ion-view title="List Default Page" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Recently</ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.live">
                <img>
                <h2>BackboneJs session</h2>
                <p>Tuesday 4:00-6:00pm</p>
            </ion-item>
            <ion-item class="item-divider">Upcoming</ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.live">
                <img>
                <h2>Web Socket.io</h2>
                <p>Friday 4:00-6:00</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.live">
                <img>
                <h2>AngularJs</h2>
                <p>Wednesday 4:00-6:00pm</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>