<ion-view title="Me Default Page" id="page4">
    <ion-content padding="true" class="has-header">
        <h2 id="meDefaultPage-heading1" style="color:#000000;text-align:center;">Profile</h2>
        <div style="text-align:center;">
            <img src="img/9bRePLhzSUuLhS0cflBO_avatar.PNG" width="60%" height="30%">
        </div>
        <button ng-click="try1()">try</button>
        <ion-list>
            <ion-item>Gender Female</ion-item>
            <ion-item>No. +86 189 6677 6677</ion-item>
            <ion-item>Company Epam</ion-item>
        </ion-list>
    </ion-content>
</ion-view>