<ion-view title="Me Default Page" id="page4">
    <ion-content padding="true" class="has-header">
        <h2 id="meDefaultPage-heading1" style="color:#000000;text-align:center;">Profile</h2>

        <ion-list>


            <label class="item item-input">
                <span class="input-label">Current Password</span>
                <input type="text" ng-model="userinfo.curpassword" placeholder="Gender">
            </label>
            <label class="item item-input">
                <span class="input-label">New Password</span>
                <input type="text" ng-model="userinfo.newpassword" placeholder="Cell phone">
            </label>

            <label class="item item-input">
                <span class="input-label">New Password Again</span>
                <input type="text" ng-model="userinfo.newpassworda" placeholder="Company">
            </label>
            <ion-item><button class="button button-calm  button-block" ng-click="resetPassword()">Update</button></ion-item>


        </ion-list>


    </ion-content>
</ion-view>