<ion-view title="Tabs Controller" id="page1" style="background-color:#1AE933;">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Create" icon="ion-android-add" href="#/page1/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="List" icon="ion-ios-list" href="#/page1/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Me" icon="ion-android-person" href="#/page1/page4">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>